ESSENTIAL8\a_lc1,a_lc1
ESSENTIAL8\a_lc2,a_lc2
ESSENTIAL8\a_lc3,a_lc3
ESSENTIAL8\a_lc4,a_lc4
ESSENTIAL8\a_lc5,a_lc5
ESSENTIAL8\a_lc6,a_lc6
ESSENTIAL8\a_lc7,a_lc7
ESSENTIAL8\a_lc8,a_lc8
ESSENTIAL8\a_lc9,a_lc9
ESSENTIAL8\a_lc10,a_lc10
ESSENTIAL8\a_lc11,a_lc11
ESSENTIAL8\a_lc12,a_lc12
ESSENTIAL8\a_lc13,a_lc13
ESSENTIAL8\a_lc14,a_lc14
ESSENTIAL8\a_lc15,a_lc15
ESSENTIAL8\a_lc16,a_lc16
ESSENTIAL8\a_lc17,a_lc17
ESSENTIAL8\a_lc18,a_lc18
ESSENTIAL8\a_lc19,a_lc19
ESSENTIAL8\a_lc20,a_lc20
ESSENTIAL8\a_lc21,a_lc21
ESSENTIAL8\a_lc22,a_lc22
ESSENTIAL8\a_lc23,a_lc23
ESSENTIAL8\a_lc24,a_lc24
ESSENTIAL8\a_lc25,a_lc25
ESSENTIAL8\a_lc26,a_lc26
ESSENTIAL8\a_lc27,a_lc27
ESSENTIAL8\a_lc28,a_lc28
ESSENTIAL8\a_lc29,a_lc29
ESSENTIAL8\a_lc30,a_lc30
ESSENTIAL8\a_lc31,a_lc31
ESSENTIAL8\a_lc32,a_lc32
ESSENTIAL8\a_lc33,a_lc33
ESSENTIAL8\a_lc34,a_lc34
ESSENTIAL8\a_lc35,a_lc35
ESSENTIAL8\a_lc36,a_lc36
ESSENTIAL8\a_lc37,a_lc37
ESSENTIAL8\a_lc38,a_lc38
ESSENTIAL8\a_lc39,a_lc39
ESSENTIAL8\lc272,lc272